<p id="notice"><%= notice %></p>

<h2 class="title">
  <%= @article.title %>
</h2>

<div class="container-fluid desc">
  <p class="description">
    <%= @article.description %>
  </p>
  <hr>
  <p class="btn btn-success">
  <strong>Created at:</strong>
  <%= @article.created_at %>
</p>

<p class="btn btn-primary">
  <strong>Updated at:</strong>
  <%= @article.updated_at %>
</p>
</div>
<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-danger btnmod2" %>
<%= link_to 'Back', articles_path, class: "btn btn-warning btnmod2" %>
