<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="form-group">
    <label for="username">
      <%= form.label :username %>
     </label>
    <%= form.text_field :username, class: "form-control", placeholder: "Enter Username" %>
  </div>

  <div class="form-group">
    <label for="title">
      <%= form.label :email %>
    </label>
    <%= form.email_field :email, class: "form-control", placeholder: "Enter Email" %>
  </div>

   <div class="form-group">
    <label for="title">
      <%= form.label :password %>
    </label>
    <%= form.password_field :password, class: "form-control", placeholder: "Enter Password" %>
  </div>

  <br>
  <div class="form-group">
    <%= form.submit(@user.new_record? ? "Register Now" : "Save", class: "btn btn-danger") %>
  </div>
<% end %>
</form>